<div class="form-eleve">
  <!-- Bandeau supérieur -->
  <div class="form-eleve__bandeau">
    <div class="form-eleve__bandeau-noms">
      <mc-input
        id="champFormPrenom"
        [label]="LIBELLES.eleve.labelPrenom"
        [formControl]="form.controls.prenom"
        [required]="true"
        [mcAutoFocus]="focusDemande()"
      />
      <mc-input
        id="champFormNom"
        [label]="LIBELLES.eleve.labelNom"
        [formControl]="form.controls.nom"
        [required]="true"
      />
    </div>
    <div class="form-eleve__bandeau-actions">
      <button
        id="btnEnregistrerEleve"
        class="mc-btn-primaire"
        [disabled]="!estFormulaireValide()"
        (click)="onEnregistrer()"
      >
        {{ LIBELLES.commun.enregistrer }}
      </button>
      <button id="btnAnnulerEleve" class="mc-btn-fantome" (click)="onAnnuler()">
        {{ LIBELLES.commun.annuler }}
      </button>
    </div>
  </div>

  <!-- Section : Identité -->
  <section class="form-eleve__section" aria-labelledby="titreFormIdentite">
    <h3 id="titreFormIdentite" class="form-eleve__titre-section">
      {{ LIBELLES.eleve.sectionIdentite }}
    </h3>
    <div class="form-eleve__grille">
      <mc-radio-group
        id="champFormSexe"
        [label]="LIBELLES.eleve.labelSexe"
        [options]="optionsSexe"
        [formControl]="form.controls.sexe"
      />
      <mc-input
        id="champFormDateNaissance"
        [label]="LIBELLES.eleve.labelDateNaissance"
        type="date"
        [formControl]="form.controls.dateNaissance"
      />
      <mc-input
        id="champFormDateArrivee"
        [label]="LIBELLES.eleve.labelDateArrivee"
        type="date"
        [formControl]="form.controls.dateArrivee"
      />
      <mc-input
        id="champFormNiveau"
        [label]="LIBELLES.eleve.labelNiveau"
        [formControl]="form.controls.niveau"
      />
      <mc-select
        id="champFormStatut"
        [label]="LIBELLES.eleve.labelStatut"
        [options]="optionsStatut"
        [avecOptionVide]="true"
        [formControl]="form.controls.statut"
      />
    </div>
    <fieldset class="form-eleve__groupes">
      <legend>{{ LIBELLES.eleve.labelGroupes }}</legend>
      <div class="form-eleve__chips">
        @for (groupe of groupes(); track groupe.id) {
          <mc-chip-filtre
            [id]="'chipFormGroupe' + groupe.id"
            [libelle]="groupe.libelle"
            [actif]="estGroupeSelectionne(groupe.id)"
            (selectionChange)="$event ? ajouterGroupe(groupe.id) : retirerGroupe(groupe.id)"
          />
        }
      </div>
    </fieldset>
    <div class="form-eleve__grille">
      <mc-textarea
        id="champFormBilans"
        [label]="LIBELLES.eleve.labelBilans"
        [formControl]="form.controls.bilans"
      />
      <mc-textarea
        id="champFormAccueil"
        [label]="LIBELLES.eleve.labelAccueil"
        [formControl]="form.controls.accueil"
      />
      <mc-textarea
        id="champFormInclusion"
        [label]="LIBELLES.eleve.labelInclusion"
        [formControl]="form.controls.inclusion"
      />
    </div>
  </section>

  <!-- Section : Contacts -->
  <section class="form-eleve__section" aria-labelledby="titreFormContacts">
    <h3 id="titreFormContacts" class="form-eleve__titre-section">
      {{ LIBELLES.eleve.sectionContacts }}
    </h3>
    <button id="btnAjouterContact" class="mc-btn-primaire mc-btn-sm" (click)="ajouterContact()">
      {{ LIBELLES.eleve.boutonAjouterContact }}
    </button>
    <ul class="form-eleve__liste-sous-items">
      @for (contact of contactsFormArray.controls; track contact; let i = $index) {
        <li class="form-eleve__sous-item">
          <mc-select
            [id]="'champContactType' + i"
            [label]="LIBELLES.eleve.labelContactType"
            [options]="optionsTypeContact"
            [avecOptionVide]="true"
            [formControl]="contact.controls.type"
            [mcAutoFocus]="i === indexAFocaliserContact()"
          />
          <mc-input
            [id]="'champContactNom' + i"
            [label]="LIBELLES.eleve.labelContactNom"
            [formControl]="contact.controls.nom"
          />
          <mc-input
            [id]="'champContactEmail' + i"
            [label]="LIBELLES.eleve.labelContactEmail"
            type="email"
            [formControl]="contact.controls.email"
          />
          <mc-input
            [id]="'champContactTel' + i"
            [label]="LIBELLES.eleve.labelContactTelephone"
            type="tel"
            [formControl]="contact.controls.telephone"
          />
          <mc-textarea
            [id]="'champContactAdresse' + i"
            [label]="LIBELLES.eleve.labelContactAdresse"
            [lignes]="2"
            [formControl]="contact.controls.adressePostale"
          />
          <mc-bouton-destruction
            [idBase]="'btnSupprimerContact' + i"
            [desactive]="false"
            [tooltipDesactive]="''"
            [petit]="true"
            (confirme)="supprimerContact(i)"
          />
        </li>
      }
    </ul>
  </section>

  <!-- Section : Absences récurrentes -->
  <section class="form-eleve__section" aria-labelledby="titreFormAbsRec">
    <h3 id="titreFormAbsRec" class="form-eleve__titre-section">
      {{ LIBELLES.eleve.sectionAbsencesRecurrentes }}
    </h3>
    <button
      id="btnAjouterAbsRec"
      class="mc-btn-primaire mc-btn-sm"
      (click)="ajouterAbsenceRecurrente()"
    >
      {{ LIBELLES.eleve.boutonAjouterAbsenceRec }}
    </button>
    <ul class="form-eleve__liste-sous-items">
      @for (abs of absencesRecurrentesFormArray.controls; track abs; let i = $index) {
        @let erreurAbsRec = obtenirErreurAbsenceRecurrente(abs);
        <li class="form-eleve__sous-item">
          <mc-input
            [id]="'champAbsRecLibelle' + i"
            [label]="LIBELLES.eleve.labelAbsenceLibelle"
            [formControl]="abs.controls.libelle"
            [mcAutoFocus]="i === indexAFocaliserAbsRec()"
          />
          <mc-select
            [id]="'champAbsRecJour' + i"
            [label]="LIBELLES.eleve.labelAbsenceJour"
            [options]="optionsJour"
            [formControl]="abs.controls.jour"
          />
          <mc-champ-heure
            [id]="'champAbsRecDebut' + i"
            [label]="LIBELLES.eleve.labelAbsenceHeureDebut"
            [required]="true"
            [formControl]="abs.controls.heureDebut"
            [descriptionIds]="erreurAbsRec ? 'erreurAbsRec' + i : null"
          />
          <mc-champ-heure
            [id]="'champAbsRecFin' + i"
            [label]="LIBELLES.eleve.labelAbsenceHeureFin"
            [required]="true"
            [formControl]="abs.controls.heureFin"
            [descriptionIds]="erreurAbsRec ? 'erreurAbsRec' + i : null"
          />
          <mc-select
            [id]="'champAbsRecParite' + i"
            [label]="LIBELLES.eleve.labelAbsenceParite"
            [options]="optionsFrequence"
            [formControl]="abs.controls.paritesSemaine"
          />
          <mc-bouton-destruction
            [idBase]="'btnSupprimerAbsRec' + i"
            [desactive]="false"
            [tooltipDesactive]="''"
            [petit]="true"
            (confirme)="supprimerAbsenceRecurrente(i)"
          />
          @if (erreurAbsRec) {
            <p [id]="'erreurAbsRec' + i" class="form-eleve__erreur" role="alert">
              {{ erreurAbsRec }}
            </p>
          }
        </li>
      }
    </ul>
  </section>

  <!-- Section : Absences ponctuelles -->
  <section class="form-eleve__section" aria-labelledby="titreFormAbsPonct">
    <h3 id="titreFormAbsPonct" class="form-eleve__titre-section">
      {{ LIBELLES.eleve.sectionAbsencesPonctuelles }}
    </h3>
    <button
      id="btnAjouterAbsPonct"
      class="mc-btn-primaire mc-btn-sm"
      (click)="ajouterAbsencePonctuelle()"
    >
      {{ LIBELLES.eleve.boutonAjouterAbsencePonct }}
    </button>
    <ul class="form-eleve__liste-sous-items">
      @for (abs of absencesPonctuellesFormArray.controls; track abs; let i = $index) {
        <li class="form-eleve__sous-item">
          <mc-input
            [id]="'champAbsPonctDate' + i"
            [label]="LIBELLES.eleve.labelAbsenceDate"
            type="date"
            [formControl]="abs.controls.date"
            [mcAutoFocus]="i === indexAFocaliserAbsPonct()"
          />
          <mc-textarea
            [id]="'champAbsPonctJustif' + i"
            [label]="LIBELLES.eleve.labelAbsenceJustification"
            [lignes]="2"
            [formControl]="abs.controls.justification"
          />
          <mc-bouton-destruction
            [idBase]="'btnSupprimerAbsPonct' + i"
            [desactive]="false"
            [tooltipDesactive]="''"
            [petit]="true"
            (confirme)="supprimerAbsencePonctuelle(i)"
          />
        </li>
      }
    </ul>
  </section>

  <!-- Section : Cursus -->
  <section class="form-eleve__section" aria-labelledby="titreFormCursus">
    <h3 id="titreFormCursus" class="form-eleve__titre-section">
      {{ LIBELLES.eleve.sectionCursus }}
    </h3>
    <button id="btnAjouterCursus" class="mc-btn-primaire mc-btn-sm" (click)="ajouterCursus()">
      {{ LIBELLES.eleve.boutonAjouterCursus }}
    </button>
    <ul class="form-eleve__liste-sous-items">
      @for (annee of cursusFormArray.controls; track annee; let i = $index) {
        <li class="form-eleve__sous-item">
          <mc-input
            [id]="'champCursusAnnee' + i"
            [label]="LIBELLES.eleve.labelCursusAnnee"
            type="number"
            [formControl]="annee.controls.annee"
            [mcAutoFocus]="i === indexAFocaliserCursus()"
          />
          <mc-input
            [id]="'champCursusNiveau' + i"
            [label]="LIBELLES.eleve.labelCursusNiveau"
            [formControl]="annee.controls.niveau"
          />
          <mc-input
            [id]="'champCursusEtab' + i"
            [label]="LIBELLES.eleve.labelCursusEtablissement"
            [formControl]="annee.controls.etablissement"
          />
          <mc-textarea
            [id]="'champCursusAccomp' + i"
            [label]="LIBELLES.eleve.labelCursusAccompagnement"
            [lignes]="2"
            [formControl]="annee.controls.accompagnement"
          />
          <mc-bouton-destruction
            [idBase]="'btnSupprimerCursus' + i"
            [desactive]="false"
            [tooltipDesactive]="''"
            [petit]="true"
            (confirme)="supprimerCursus(i)"
          />
        </li>
      }
    </ul>
  </section>

  <!-- Section : Notes administratives -->
  <section class="form-eleve__section" aria-labelledby="titreFormNotes">
    <h3 id="titreFormNotes" class="form-eleve__titre-section">{{ LIBELLES.eleve.sectionNotes }}</h3>
    @for (autorisation of autorisations; track autorisation.cle) {
      <fieldset class="form-eleve__groupes form-eleve__autorisation">
        <legend>{{ autorisation.libelle }}</legend>
        <mc-radio-group
          [id]="autorisation.id"
          [label]="LIBELLES.eleve.labelReponse"
          [options]="optionsReponseAutorisation"
          [effacable]="true"
          [formControl]="form.controls[autorisation.cle].controls.reponse"
        />
        <mc-input
          [id]="autorisation.id + 'Precision'"
          [label]="LIBELLES.eleve.labelPrecision"
          [formControl]="form.controls[autorisation.cle].controls.precision"
        />
      </fieldset>
    }
    <div class="form-eleve__grille">
      <mc-textarea
        id="champFormPPA"
        [label]="LIBELLES.eleve.labelPPA"
        [formControl]="form.controls.notesPPA"
      />
      <mc-textarea
        id="champFormESS"
        [label]="LIBELLES.eleve.labelESS"
        [formControl]="form.controls.notesESS"
      />
    </div>
  </section>

  <!-- Section : Informations utiles -->
  <section class="form-eleve__section" aria-labelledby="titreFormInfosUtiles">
    <h3 id="titreFormInfosUtiles" class="form-eleve__titre-section">
      {{ LIBELLES.eleve.sectionInformationsUtiles }}
    </h3>
    <div class="form-eleve__grille">
      <div class="mc-champ mc-champ--checkbox">
        <input
          id="champFormPortLunettes"
          type="checkbox"
          [formControl]="form.controls.portLunettes"
        />
        <label for="champFormPortLunettes">{{ LIBELLES.eleve.labelPortLunettes }}</label>
      </div>
      <div class="mc-champ mc-champ--checkbox">
        <input
          id="champFormNotificationAesh"
          type="checkbox"
          [formControl]="form.controls.notificationAesh"
        />
        <label for="champFormNotificationAesh">{{ LIBELLES.eleve.labelNotificationAesh }}</label>
      </div>
      <mc-radio-group
        id="champFormLateralite"
        [label]="LIBELLES.eleve.labelLateralite"
        [options]="optionsLateralite"
        [effacable]="true"
        [formControl]="form.controls.lateralite"
      />
    </div>
  </section>
</div>
