<div class="form-projet">
  <!-- Bandeau -->
  <div class="form-projet__bandeau">
    <mc-input
      id="champFormNomProjet"
      [label]="LIBELLES.projet.labelNom"
      [formControl]="form.controls.nom"
      [required]="true"
      [mcAutoFocus]="focusDemande()"
    />
    <div class="form-projet__bandeau-actions">
      <button
        id="btnEnregistrerProjet"
        class="mc-btn-primaire"
        [disabled]="!estFormulaireValide()"
        (click)="onEnregistrer()"
      >
        {{ LIBELLES.commun.enregistrer }}
      </button>
      <button id="btnAnnulerProjet" class="mc-btn-fantome" (click)="onAnnuler()">
        {{ LIBELLES.commun.annuler }}
      </button>
    </div>
  </div>

  <!-- Section : Informations générales -->
  <section class="form-projet__section" aria-labelledby="titreFormInfosProjet">
    <h3 id="titreFormInfosProjet" class="form-projet__titre-section">
      {{ LIBELLES.projet.sectionInfos }}
    </h3>
    <mc-textarea
      id="champFormDescProjet"
      [label]="LIBELLES.projet.labelDescription"
      [formControl]="form.controls.description"
    />
    <fieldset class="form-projet__chips-fieldset">
      <legend>{{ LIBELLES.projet.labelEleves }}</legend>
      <div class="form-projet__chips">
        @for (eleve of eleves(); track eleve.id) {
          <mc-chip-filtre
            [id]="'chipProjetEleve' + eleve.id"
            [libelle]="eleve.nom.toUpperCase() + ' ' + eleve.prenom"
            [actif]="estEleveSelectionne(eleve.id)"
            (selectionChange)="$event ? ajouterEleve(eleve.id) : retirerEleve(eleve.id)"
          />
        }
      </div>
    </fieldset>
  </section>

  <!-- Section : Périodes -->
  <section class="form-projet__section" aria-labelledby="titreFormPeriodesProjet">
    <h3 id="titreFormPeriodesProjet" class="form-projet__titre-section">
      {{ LIBELLES.projet.sectionPeriodes }}
    </h3>
    <button
      id="btnAjouterPeriodeProjet"
      class="mc-btn-primaire mc-btn-sm"
      (click)="ajouterPeriode()"
    >
      {{ LIBELLES.projet.boutonAjouterPeriode }}
    </button>
    <ul class="form-projet__periodes">
      @for (groupe of periodesFormArray.controls; track groupe; let i = $index) {
        <li class="form-projet__periode">
          <div class="form-projet__periode-header">
            <mc-input
              [id]="'champPeriodeNomProjet' + i"
              [label]="LIBELLES.projet.labelPeriodeNom"
              [formControl]="groupe.controls.periodeNom"
              [mcAutoFocus]="i === indexAFocaliserPeriode()"
            />
            <mc-input
              [id]="'champPeriodeDebutProjet' + i"
              [label]="LIBELLES.projet.labelPeriodeDebut"
              type="date"
              [formControl]="groupe.controls.debut"
            />
            <mc-input
              [id]="'champPeriodeFinProjet' + i"
              [label]="LIBELLES.projet.labelPeriodeFin"
              type="date"
              [formControl]="groupe.controls.fin"
            />
            <mc-bouton-destruction
              [idBase]="'btnSupprimerPeriodeProjet' + i"
              [desactive]="false"
              [tooltipDesactive]="''"
              [petit]="true"
              (confirme)="supprimerPeriode(i)"
            />
          </div>
          <mc-textarea
            [id]="'champPeriodeDescProjet' + i"
            [label]="LIBELLES.projet.labelPeriodeDescription"
            [formControl]="groupe.controls.description"
          />
          <div class="form-projet__competences">
            <span class="form-projet__label-competences">{{
              LIBELLES.projet.labelPeriodeCompetences
            }}</span>
            <mc-selecteur-competences
              [id]="'selecteurCompetences' + i"
              [contexteId]="'Periode' + i"
              [competencesSelectionnees]="groupe.controls.competencesIds.value"
              [multiSelection]="true"
              (selectionChange)="surSelectionCompetences(i, $event)"
            />
          </div>
        </li>
      }
    </ul>
  </section>
</div>
