<dialog
  #dialog
  class="mc-popin"
  aria-modal="true"
  aria-labelledby="titreExport"
  (cancel)="surCancel($event)"
>
  <div class="mc-popover-carte">
    <div class="mc-popover-entete">
      <span id="titreExport" class="mc-popover-titre">{{
        LIBELLES.popins.exportCompetences.titre
      }}</span>
    </div>

    <div class="mc-popin__corps">
      <mc-select
        [id]="'exportSelectPrimaire'"
        [formControl]="controlePrimaire"
        [options]="optionsPrimaires()"
        [label]="
          mode() === 'projet'
            ? LIBELLES.popins.exportCompetences.choixProjet
            : LIBELLES.popins.exportCompetences.choixJour
        "
        [avecOptionVide]="true"
        [mcAutoFocus]="visible()"
      />

      @if (selectionPrimaire()) {
        <mc-select
          [id]="'exportSelectSecondaire'"
          [formControl]="controleSecondaire"
          [options]="optionsSecondaires()"
          [label]="
            mode() === 'projet'
              ? LIBELLES.popins.exportCompetences.choixPeriode
              : LIBELLES.popins.exportCompetences.choixSeance
          "
          [avecOptionVide]="true"
        />
      }
    </div>

    <div class="mc-popover-pied">
      <button id="btnExportAnnuler" type="button" class="mc-btn-fantome" (click)="surAnnulation()">
        {{ LIBELLES.popins.exportCompetences.annuler }}
      </button>
      <button
        id="btnExportConfirmer"
        type="button"
        class="mc-btn-primaire"
        [disabled]="!peutConfirmer()"
        (click)="surConfirmation()"
      >
        {{ LIBELLES.popins.exportCompetences.confirmer }}
      </button>
    </div>
  </div>
</dialog>
