@use '../../mixins' as *;

:host {
  display: block;
  height: 100%;
}

.edtc-formulaire {
  @include panneau-formulaire-edt;

  &__erreur {
    margin: 0;
    font-size: 0.8125rem;
    color: var(--erreur);
  }
}
