@if (!etatConfirmation()) {
  <button
    [id]="idBase()"
    type="button"
    class="mc-btn-danger"
    [class.mc-btn-sm]="petit()"
    [disabled]="desactive()"
    [attr.aria-describedby]="tooltipDesactive() ? idBase() + '_desc' : null"
    (click)="demanderConfirmation()"
  >
    {{ LIBELLES.commun.supprimer }}
  </button>
  @if (tooltipDesactive()) {
    <span [id]="idBase() + '_desc'" class="sr-only">{{ tooltipDesactive() }}</span>
  }
} @else {
  <div class="mc-bouton-destruction__confirmation">
    <button
      [id]="idBase() + '_annuler'"
      type="button"
      class="mc-btn-fantome"
      [class.mc-btn-sm]="petit()"
      (click)="annuler()"
    >
      {{ LIBELLES.commun.annuler }}
    </button>
    <button
      [id]="idBase() + '_confirmer'"
      type="button"
      class="mc-btn-danger"
      [class.mc-btn-sm]="petit()"
      (click)="confirmer()"
    >
      {{ LIBELLES.commun.confirmer }}
    </button>
  </div>
}
