<fieldset class="mc-groupe-radio" [disabled]="estDesactive()">
  <legend>
    {{ label() }}
    @if (required()) {
      <span class="mc-champ-requis" aria-hidden="true"> *</span>
    }
  </legend>
  @for (opt of options(); track opt.valeur) {
    <div class="mc-radio-option">
      <input
        #radio
        type="radio"
        [id]="id() + '_' + opt.valeur"
        [name]="id()"
        [value]="opt.valeur"
        [checked]="opt.valeur === valeur()"
        [required]="required()"
        (change)="surChangement(opt.valeur)"
        (blur)="surBlur()"
      />
      <label [for]="id() + '_' + opt.valeur">{{ opt.libelle }}</label>
    </div>
  }
  @if (effacable() && valeur()) {
    <button
      type="button"
      [id]="'btnEffacer_' + id()"
      class="mc-btn-fantome mc-btn-xs effacer-reponse"
      [attr.aria-label]="LIBELLES.commun.ariaEffacerReponse + label()"
      (click)="effacer()"
    >
      {{ LIBELLES.commun.effacer }}
    </button>
  }
</fieldset>
